.App {
  text-align: center;
  max-width: 2000px;       /* 웹사이트의 최대 너비 설정 */
  margin: 0 auto;          /* 좌우 중앙 정렬 */
  background-color: white; /* 웹사이트 배경색 설정 */
}

body {
  background-color: #f4f4f4;  /* 전체 배경색 설정 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



