/* index-button의 기본 스타일 */
.index-button-trainer {
    background-color: #4CAF50; /* 파란색 배경 */
    color: white; /* 흰색 글씨 */
    border: none; /* 테두리 없음 */
    padding: 10px 20px;
    cursor: pointer; /* 마우스를 올렸을 때의 커서 모양 */
    transition: background-color 0.3s; /* 배경색이 부드럽게 변경되도록 효과 */
    padding: 10px 20px;
    border-radius: 20px;/*    cursor: pointer;*/
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s; /* 배경색이 부드럽게 변경되도록 효과 */

}

/* 마우스를 버튼 위에 올렸을 때의 스타일 */
.index-button-trainer:hover,
.index-button-trainer:active {
    background-color: #007bff; /* #007bff 배경색 */
}
/* 선택된 버튼의 스타일 */
.index-button-trainer-selected {
    background-color: #007bff; /* #007bff 배경색 */
}



